.card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}


.card_box{
    background: #A1FFCE;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    overflow: hidden;
    text-align: center;
    border-radius: .5rem;
}


.image img{

    width: 70%;
    height: 100%;
}

.card_info{
    line-height: 1;
    padding: 0 1.5rem;

}

.card_vote{
    
}

.total{
    background-color: red;
    padding: .5rem;
    font-weight: 900;
    letter-spacing: 1;
    color:#fff;
    text-transform: uppercase;
}
.card_vote p{
    font-size: 1.5rem;
}

.card_button{
    margin-bottom:2rem;
    padding: .5rem;
}

.card_button button{
    background-color: red;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.35);
    border: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    border-radius: .2rem;
}

@media screen and (max-width:35rem){
    .card{
        grid-template-columns: 1fr;
    }
}